body {
  margin: 0;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.85) 30%, rgba(0,0,0,0.3) 100%),
    url("assets/KSU1.jpg") center/cover no-repeat fixed;
}
 .nav-item .nav-link img{
  width: 30px;
  height: 30px;
 }


  .navbar {
  background-color: rgba(0, 0, 0, 0.3) ;
}

.navbar-brand,.nav-link {
  color: white ;
}


.nav-link:hover {
  color: #5f5c5c; 
}
 .navbar-brand img{
  width: 50px;
  height:50px;
 }

.container .menu{
 
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-right: 10%;
  
  
  background: rgba(89, 86, 86, 0.15); 
  backdrop-filter: blur(10px);         
  border-radius: 15px;                  
  border: 1px solid rgba(70, 68, 68, 0.3); 
  
}
.container .menu ul a{
    color: aliceblue;
    text-decoration: none;
    

}
.container .menu ul img{
   
    width: 20px;
    height: 20px;

}


.container .welcom{
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  text-align: center;
  padding: 40px;


  color: aliceblue;

  background: rgba(89, 86, 86, 0.15); 
  backdrop-filter: blur(10px);          
  border-radius: 15px;               
  border: 1px solid rgba(70, 68, 68, 0.3); 
}
.container .welcom img{
  width: 40px;
  margin: 7px 0 0 7px;
}
.container .welcom h1{
  
  margin-top: 30px;
}
.container .welcom h4{
  
  margin-top: 40px;
}

.glass-nav {
  background:  rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}
.footer-logo img{
  width: 70px;

}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: center;
  
 
}
