body {
  margin: 0;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.85) 30%, rgba(0,0,0,0.3) 100%),url("assets/KSU1.jpg") center/cover no-repeat fixed;;/*  هنا عشان اموج الصوره واخلي فيها*/
}
/*Navbar Design*/
 .nav-item .nav-link img{
  width: 30px;
  height: 30px;
 }
.navbar {
  background-color: rgba(0, 0, 0, 0.3) ; /* هنا خليتnav  شفاف */
}
.navbar-brand,.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #5f5c5c;
}
 .navbar-brand img{
  width: 50px;
  height:50px;
 }

 /*Footer*/
.glass-nav {
  background:  rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}
.footer-logo img{
  width: 70px;

}
.footer{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  /*عشان اثبته تحت رغم تحرك المحتوى وحجمه*/
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*content area design */
 .cardDesign .card{
  margin-top: 100px;
  margin-bottom: 80px;
  background: rgba(89, 86, 86, 0.35); 
  backdrop-filter: blur(10px);        
  border-radius: 15px;                
  border: 1px solid rgba(70, 68, 68, 0.3);
  color: white;    
 }
 .cusombtn{
  background-color: #3f4c71 !important; 
  color: white;
  border: none !important;
}