body {
  margin: 0;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.85) 30%, rgba(0,0,0,0.3) 100%),url("assets/KSU1.jpg") center/cover no-repeat fixed;;/*  هنا عشان اموج الصوره واخلي فيها*/
}

/*Navbar Design*/
 .nav-item .nav-link img{
  width: 30px;
  height: 30px;
 }
.navbar {
  background-color: rgba(0, 0, 0, 0.3) ; /* هنا خليتnav  شفاف */
}
.navbar-brand,.nav-link {
  color: white ;
}
.nav-link:hover {
  color: #5f5c5c;
}
 .navbar-brand img{
  width: 50px;
  height:50px;
 }
 .nav-item .nav-Home img {
  width: 29px;
  height: 29px;
  margin-top: 8px;
 }
/*Container class design*/
.container .menu{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-right: 10%;
  /*  الشفافية  تمويه عشان لوق ان*/
  background: rgba(89, 86, 86, 0.15); 
  backdrop-filter: blur(10px);           /* يموّه الخلفية */
  border-radius: 15px;                   /* زوايا  */
  border: 1px solid rgba(70, 68, 68, 0.3); /* خط خفيف شبه شفاف */
}
.container .menu ul a{
    color: aliceblue;
    text-decoration: none;
}
.container .menu ul img{
    width: 20px;
    height: 20px;
}


/*  for the page Content */
.page-content {
  background: rgba(89, 86, 86, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom:60px;
  border: 1px solid rgba(70, 68, 68, 0.3);
  padding: 40px;
  flex:1; /*عشان تاخذ باقي المساحة وتصير جنب المنيو بدل ما تنزل تحته */
  width: 70%;
  text-align: center;
  color: white;
}

/*Footer*/
.glass-nav {
  background:  rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}
.footer-logo img{
  width: 70px;

}
.footer{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  /*عشان اثبته تحت رغم تحرك المحتوى وحجمه*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* customize buttons*/
.cusombtn{
  background-color: #3f4c71; 
  color: white;
  border: none;
}
.btn.positiveBT{
  background-color: #3c62cca3; 
  color: white;
}
.btn.negativeBT{
  background-color: #5e7ccda3; 
  color: white;
}
.uploadcard{
  background-color: #9fa5aea3;
  color: white;
}
.btn-check:checked + .positiveBT {
  background-color: #2bbc60; 
  color: white;
}

.btn-check:checked + .negativeBT {
  background-color: #d85e5e; 
  color: white;
}
.btn:hover{
    background-color: #ddd8d8;
    color: rgb(11, 11, 11);
}
.btn-check + .btn:hover{
    background-color: #ddd8d8;
    color: rgb(11, 11, 11);
}
.menu .list-group-item.selected {
  background-color: rgba(60, 98, 204, 0.8) !important; 
  border-radius: 10px;
}

/* Modal Styles */
.modal-content {
  background: rgba(89, 86, 86, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
.modal-title {
  color: white;
}
.form-control {
  background: rgb(255, 254, 254);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
}
.form-check-input:checked {
  background-color: #3f4c71;
}
.form-label {
  color: white; /*عناوين الحقول بالفورم */
}
.form-check-label {
  color: white;
}

